<% provide(:title, 'About Us') %>
<h1><span class="h-bar">&nbsp;</span>&nbsp;Mission Statement</h1>
<p>
	The mission of the PUST Medical Sciences is to create a self-sustaining, innovative, and competitive academic institution which equips students of the DPRK with world class training, high quality faculty and resources that enable them to become physicians, pharmacists, dentists, nurses, and public health officials serving real needs of people of the DPRK and East Asia.
</p>
<p>
	The PUST Medical Sciences consists of the five programs:
</p>
<ul class="lato">
	<li>Medicine</li>
	<li>Pharmacy</li>
	<li>Dentistry</li>
	<li>Nursing</li>
	<li>Public Health</li>
</ul>
<p>
	Training will be drawn from international expertise and research so that students of the PUST Medical Sciences will be acknowledged by international standards in their respective fields.
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Founder's Story</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Message from PK</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Timeline</h1>
<p>
	[TBD]
</p>
