<% provide(:title, 'Academics') %>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Divisions Overview</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;School of Dentistry</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;School of Medicine</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;School of Pharmacy</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;School of Public Health</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;School of Nursing</h1>
<p>
	[TBD]
</p>
