<% provide(:title, 'Give') %>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Giving to PUST Medical Sciences</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Donate to the YUST PUST Foundation</h1>
<p>
	[TBD]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Volunteer</h1>
<p>
	[Information about giving time and resources]
</p>
