<% provide(:title, 'Home') %>
<h1><span class="h-bar">&nbsp;</span>&nbsp;Mission Statement</h1>
<p>
	The mission of the PUST Medical Sciences is to create a self-sustaining, innovative, and competitive academic institution which equips students of the DPRK with world class training, high quality faculty and resources that enable them to become physicians, pharmacists, dentists, nurses, and public health officials serving real needs of people of the DPRK and East Asia.
</p>
<p>
	The PUST Medical Sciences consists of the five programs:
</p>
<ul class="lato">
	<li>Medicine</li>
	<li>Pharmacy</li>
	<li>Dentistry</li>
	<li>Nursing</li>
	<li>Public Health</li>
</ul>
<p>
	Training will be drawn from international expertise and research so that students of the PUST Medical Sciences will be acknowledged by international standards in their respective fields.
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Core Values</h1>
<p>
	We strive to achieve the PUST Medical Sciences' Vision by implementing the following core values:
</p>
<ul class="lato">
	<li>Excellence in pragmatic medical education</li>
	<li>Integrity of leadership, medicine students, and healthcare providers</li>
	<li>Respect and diversity</li>
</ul>
	
