<% provide(:title, 'Life at PUMS') %>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Life at PUST Medical Sciences</h1>
<p>
	[Brief explanation of how students and faculty live and learn together]
</p>

<h1><span class="h-bar">&nbsp;</span>&nbsp;Events</h1>
<p>
	[Potential blog-style]
</p>
<p>
	[Groundbreaking]
</p>
<p>
	[Graduation]
</p>
