@import "bootstrap";

/* universal */
html {
  overflow-y: scroll;
}
body {
  padding-top: 0px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
p {
  font-family: 'Lato', "Helvetica Neue", sans-serif;
  font-weight: light;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #666666;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.lato {
  font-family: 'Lato', "Helvetica Neue", sans-serif;
  color: #666666;
}
h1 {
  padding-top: 35px;
  font-family: Arial, sans-serif;
  color: #1f497d;
  font-size: 1.75em;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 5px;
}


/* nav bar */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 25px;
  font-weight: normal;
  line-height: 1;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
#navbar-main {
  background-color: #1f497d;
  opacity: 0.8;
  min-height: 70px;
}
#navbar-main ul {
  padding-top: 9px;
  font-size: 0.9em;
  font-weight: normal;
}
#collapse-button {
  margin-top: 17px;
}
.carousel {
  max-height: 350px;
  overflow: hidden;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  height: auto;
  top: 0;
  min-width: 100%;
}
.carousel-caption {
  top: 245px;
}
a.carousel-control>.glyphicon {
  top: 190px;
}
div#header-shadow {
  width: 100%;
  height: 40px;
  background-image: image-url('shadow.png');
  background-size: 100% 40px;
  background-repeat: no-repeat;
}



/* Body elements */
#main {
  min-height: 750px;
}
span.h-bar {
  position: relative;
  top: -10px;
  display: inline-block;
  height: 48px;
  width: 4px;
  background-color: #ff9933;
}



















/* footer */
footer {
  margin-top: 45px;
  padding: 0px;
  border-top: 1px solid #eaeaea;
  color: #999;
  background-color: #666666;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}
#footer-top-1 {
  width: 100%;
  height: 5px;
  background-color: #cccccc;
}
#footer-top-2 {
  width: 100%;
  height: 5px;
  background-color: #999999;
}
#footer-main {
  height: 240px;
}
#footer-copyright {
  width: 100%;
  height: 38px;
  padding: 8px;
  background-color: #999999;
  color: #ffffff;
  font-family: 'Lato', "Helvetica Neue", sans-serif;
  font-weight: light;
  font-size: 1em;
  line-height: 1.7em;
}
#footer-base {
  width: 100%;
  height: 5px;
  background-color: #666666;
}