<footer class="footer">
	<div id="footer-top-1"></div>
	<div id="footer-top-2"></div>
	<div id="footer-main" class="container">
	  <small>
	    PUST Medical Sciences
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "About",   '#' %></li>
	      <li><%= link_to "Contact", '#' %></li>
	    </ul>
	  </nav>
	</div> <!-- /.footer-main -->
	<div id="footer-copyright" class="center">&copy; 2014 PUST Medical Sciences. All rights reserved.</div>
	<div id="footer-base"></div>
</footer>